@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
    --primary-color: #000;
    --hover-color: #666;
    --background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 1rem 2rem;*/
    background-color: var(--background-color);
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
}

.navbar__logo span {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: var(--primary-color);
}

.navbar__links {
    display: flex;
    list-style: none;
}

.navbar__links a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    position: relative;
    transition: color 0.3s ease;
}

.navbar__links a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: var(--primary-color);
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.navbar__links a:hover {
    color: var(--hover-color);
}

.navbar__links a:hover::after {
    width: 100%;
}

.navbar__actions {
    display: flex;
    gap: 1.5rem;
}

.navbar__actions a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

.navbar__actions a:hover {
    color: var(--hover-color);
}

/* Hero section */
.hero-section {
  background: linear-gradient(to bottom, #a2c5de, #003b6f);
  color: white;
}

.hero-section h1 {
  font-size: 4rem;
}

.hero-section p {
  margin-top: 10px;
  font-size: 1.5rem;
}

.hero-section ul {
  margin-top: 10px;
  padding-left: 20px;
}

.hero-section ul li {
  margin-bottom: 5px;
}

.hero-img {
  max-width: 150%;
  height: auto;
  border-radius: 10px;
}

.btn-light {
  font-weight: bold;
}

/* Seminuevos */
.seminuevos-section {
  background-color: #f8f9fa;
}

.seminuevos-section h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.seminuevos-section p.lead {
  font-size: 2rem;
}

.seminuevos-section .card {
  border: 1px solid #ddd;
  transition: transform 0.3s;
}

.seminuevos-section .card:hover {
  transform: scale(1.02);
}

.card-img-top {
  max-width: 150%;
  height: auto;
  border-radius: 10px;
}

/* Nuevos */
.nuevos-section {
  background-color: #01446f;
}

.nuevos-section h2 {
  font-size: 3.5rem;
}

.nuevos-section p.lead {
  font-size: 2rem;
}

.nuevos-img {
  max-width: 90rem;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s;
}

div > img {
  width: 100%;
  height: auto;
}

.nuevos-img:hover {
  transform: scale(1.05);
}

/* Stock */
.stock-section {
  background-color: #ffffff;
}

.stock-section h2 {
  font-size: 2rem;
}

.stock-section .card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.stock-section .card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.stock-section .card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 250px;
  object-fit: cover;
}

.stock-section .btn {
  margin-top: 10px;
}

/* Ubicaciones */
.ubicaciones-section {
  background-color: #f8f9fa;
}

.ubicaciones-section h2 {
  font-size: 2rem;
}

.ubicaciones-section .card {
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.ubicaciones-section .card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.ubicaciones-section .card-img-top {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.ubicaciones-section .card-body {
  padding: 20px;
}

.ubicaciones-section .btn {
  margin-top: 10px;
}

/* Footer */

#footer {
  background-color: #004f7a;
}

.social-media {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #004f7a;
  opacity: 0.8;
}

#facebook {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Logo_de_Facebook.png/250px-Logo_de_Facebook.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#instagram {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#youtube {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#x {
  background-image: url("https://cdn.cms-twdigitalassets.com/content/dam/legal-twitter/sharing-card.png.twimg.768.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Optional: Responsive 
@media (max-width: 768px) {
    .navbar__links {
        display: none;
    }
}*/